{% extends "base.html" %}

{% block title %}ToDo Detail{% endblock title %}

{% block content %}
<div class="card bg-body-tertiary">
    <div class="card-header">
        <h1>{{ todo.title }}</h1>
    </div>
    <div class="card-body">
        <div class="card-body">
            <p class="card-text">Task Details: {{ todo.details }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Due Date: {{ todo.due_date }}</li>

                {% if todo.important %}
                <li class="list-group-item fw-bold">Important</li>
                {% endif %}

                {% if todo.urgent %}
                <li class="list-group-item fw-bold">Urgent</li>
                {% endif %}

                {% if todo.completed %}
                <li class="list-group-item">Completed</li>
                {% else %}
                <li class="list-group-item fw-bold">Incomplete</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="card-footer">
        {% if todo.completed %}
        <a class="btn btn-success"
           href="{% url 'todo_reactivate' todo.pk %}">Reactivate task
        </a>
        {% else %}
        <a class="btn btn-success"
           href="{% url 'todo_complete' todo.pk %}">Complete task
        </a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'todo_edit' todo.pk %}">
            Edit ToDo
        </a>
        <a class="btn btn-outline-secondary"
           href="{% url 'todo_delete' todo.pk %}">
            Delete ToDo
        </a>
        <a class="btn btn-link"
           href="{% url 'todo_list_detail' todo.todo_list.pk %}">
            Back to ToDo List
        </a>
    </div>
</div>
{% endblock content %}
