{% extends "base.html" %}

{% block title %}Delete ToDo Item{% endblock title %}

{% block content %}
<div class="col-lg-6 col-10 card bg-body-tertiary mx-auto">
    <div class="card-header">
        <h1>Delete {{ object.title }}</h1>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete this task?</p>
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a class="btn btn-secondary"
               href="{% url 'todo_list_detail' todo.todo_list.pk %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}