{% extends "base.html" %}

{% block title %}ToDo List Manager{% endblock title%}

{% block content %}

<h1>List Manager</h1>
<ul class="mt-4 ">

    {% for todo_list in todolist_list %}
    <li>
        <h2>
            {{ todo_list.title }}
        </h2>
        <a href="{% url 'todo_list_detail' todo_list.pk %}">
            Details
        </a>
        |
        <a href="{% url 'todo_list_edit' todo_list.pk %}">
            Edit
        </a>
        |
        <a href="{% url 'todo_list_delete' todo_list.pk %}">
            Delete
        </a>
    </li>
    <hr>
    {% endfor %}

</ul>
{% endblock content %}