{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock title%}

{% block content %}
<div class="container">
    <h2>Privacy Policy for Eisenhower ToDo Management</h2>
    <p>Effective Date: 5 June 2024</p>

    <h3 class="mt-5">Introduction</h3>
    <p>Welcome to Eisenhower ToDo Management! This privacy policy outlines how
        we collect, use, and protect your personal information when you use our
        application. By accessing or using our application, you agree to the
        terms of this policy.</p>

    <h3 class="mt-5">Information We Collect</h3>
    <p><strong>Cookies and Application Data:</strong> Eisenhower ToDo Management
        uses cookies and stores your username, your (encrypted) password, your
        ToDo lists and items in a database.</p>
    <p><strong>Other Data:</strong> We do not collect any other data from you.
        However, the application is hosted by <a href="https://fly.io"
                                                 target="_blank">Fly.io</a> and
        their <a href="https://fly.io/legal/privacy-policy/" target="_blank">privacy
            policy</a> applies to their service.</p>

    <h3 class="mt-5">How We Use Cookies</h3>
    <p><strong>Cookie Information:</strong> We use cookies to keep you logged
        into your account.</p>

    <h3 class="mt-5">Third-Party Services</h3>
    <p>We do not share your personal information with third parties. However,
        please note that our application may link to external websites or
        services. Their privacy policies govern the use of your data on those
        platforms.</p>

    <h3 class="mt-5">Data Security</h3>
    <p>We take reasonable measures to protect your data from unauthorized
        access, loss, or misuse. However, no method of transmission over the
        internet is entirely secure. Please use our application responsibly and
        avoid sharing sensitive information.</p>

    <h3 class="mt-5">Your Choices</h3>
    <p>You can manage cookies through your browser settings. If you disable
        cookies, some features of our application may not function correctly. At
        any point, you may export your ToDo lists and items using the link in
        the header menu. Deleting your account removes all data and is
        irreversible.</p>

    <h3 class="mt-5">Changes to this Policy</h3>
    <p>We may update this privacy policy periodically. Please check this page
        for the latest version.</p>

    <h3 class="mt-5">Contact Us</h3>
    <p>If you have any questions or concerns about our privacy practices, please
        contact us at <a href="mailto:jaerrib[at]tutanota[dot]com">jaerrib@tutanota.com</a>.
    </p>

</div>

{% endblock content %}