{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Complete ToDo Item{% endblock title %}

{% block content %}
<h2>Complete ToDo</h2>
<p>Check to complete {{ todo_title }}</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
</form>
<hr class="mt-3 mb-3">
<a href="{% url 'todo_detail' todo.pk %}">Back to ToDo Detail</a> |
<a href="{% url 'todo_list' %}">Back to ToDo List</a>
{% endblock content %}