{% extends "base.html" %}

{% block title %}ToDo List{% endblock title%}

{% block content %}

<h1>ToDo List</h1>

<div class="row">
    <div class="card col-11 col-md-5 m-3 bg-body-tertiary">
        <div class="card-body">
            <h2 class="card-title mb-3 fw-bold text-success">Do:</h2>
            <p class="card-subtitle text-secondary-emphasis">Important
                and urgent</p>
            <hr>
            <div class="d-grid gap-1">
                {% for todo in todo_list %}
                {% if not todo.completed %}
                {% if todo.important and todo.urgent %}
                <a href="{% url 'todo_detail' todo.pk %}" type="button"
                   class="btn btn-success mb-3 shadow">
                    {{ todo.title }}
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card col-11 col-md-5 m-3 bg-body-tertiary">
        <div class="card-body">
            <h2 class="card-title mb-3 fw-bold text-warning">Schedule:</h2>
            <p class="card-subtitle text-secondary-emphasis">Important but not
                urgent</p>
            <hr>
            <div class="d-grid gap-1">
                {% for todo in todo_list %}
                {% if not todo.completed %}
                {% if todo.important and not todo.urgent %}
                <a href="{% url 'todo_detail' todo.pk %}" type="button"
                   class="btn btn-warning mb-3 shadow">
                    {{ todo.title }}
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-11 col-md-5 m-3 bg-body-tertiary">
        <div class="card-body">
            <h2 class="card-title mb-3 fw-bold text-primary">Delegate:</h2>
            <p class="card-subtitle text-secondary-emphasis">Not important
                but urgent</p>
            <hr>
            <div class="d-grid gap-1">
                {% for todo in todo_list %}
                {% if not todo.completed %}
                {% if not todo.important and todo.urgent %}
                <a href="{% url 'todo_detail' todo.pk %}" type="button"
                   class="btn btn-primary mb-3 shadow">
                    {{ todo.title }}
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card col-11 col-md-5 m-3 bg-body-tertiary">
        <div class="card-body">
            <h2 class="card-title mb-3 fw-bold text-danger">Eliminate</h2>
            <p class="card-subtitle text-secondary-emphasis">Not important
                and not urgent</p>
            <hr>
            <div class="d-grid gap-1">
                {% for todo in todo_list %}
                {% if not todo.completed %}
                {% if not todo.important and not todo.urgent %}
                <a href="{% url 'todo_detail' todo.pk %}" type="button"
                   class="btn btn-danger mb-3 shadow"
                   data-bs-toggle="modal"
                   data-bs-target="#{{todo.pk}}">{{ todo.title }}
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr class="m-3">
<div class="row">
    <h2 class="text-secondary">Completed ToDos</h2>
    <div class="d-flex d-block mt-3">

        {% for todo in todo_list %}
        {% if todo.completed %}

        <a href="{% url 'todo_detail' todo.pk %}" type="button"
           class="btn btn-outline-secondary btn me-3 mb-3">{{ todo.title }}</a>

        {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock content %}