{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit ToDo Item{% endblock title %}

{% block content %}
<h2>Edit ToDo</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" href="{% url 'todo_detail' todo.pk %}">
        Cancel
    </a>
    <a class="btn btn-outline-secondary" href="{% url 'todo_list' %}">Back
        to ToDo List
    </a>
</form>
{% endblock content %}