{% extends "base.html" %}

{% block title %}Delete ToDo List{% endblock title %}

{% block content %}
<div class="card bg-body-tertiary">
    <div class="card-header">
        <h1>Delete ToDo List</h1>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object.title }}"?</p>
            <button type="submit" class="btn btn-primary">Confirm</button>
            <a class="btn btn-secondary"
               href="{% url 'todo_list' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}