{% extends "base.html" %}

{% block title %}Post Detail{% endblock title %}

{% block content %}
<div class="card bg-body-tertiary">
    <div class="card-header">
        <h3>{{ todo.title }}</h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <p class="card-text">ToDo Details: {{ todo.details }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Due Date: {{ todo.due_date }}</li>
                {% if todo.important %}
                <li class="list-group-item">Important? {{ todo.important }}</li>
                {% endif %}
                {% if todo.urgent %}
                <li class="list-group-item fw-bold">Urgent</li>
                {% endif %}
                <li class="list-group-item">Completed? {{ todo.completed }}</li>
            </ul>
        </div>
    </div>
    <div class="card-footer">
        {% if todo.completed %}
        <a class="btn btn-primary"
           href="{% url 'todo_reactivate' todo.pk %}">Reactivate
            ToDo</a>
        {% else %}
        <a class="btn btn-primary"
           href="{% url 'todo_complete' todo.pk %}">Complete ToDo</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'todo_edit' todo.pk %}">Edit
            ToDo</a>
        <a class="btn btn-outline-secondary"
           href="{% url 'todo_delete' todo.pk %}">Delete ToDo</a>
        <a class="btn btn-link" href="{% url 'todo_list' %}">Back to ToDo
            List</a>
    </div>
</div>
{% endblock content %}
