{% extends "base.html" %}

{% block title %}Delete ToDo Item{% endblock title %}

{% block content %}
<h1>Delete ToDo</h1>
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ todo.title }}"?</p>
    <button type="submit" class="btn btn-primary">Confirm</button>
    <a class="btn btn-secondary" href="{% url 'todo_detail' todo.pk %}">
        Cancel
    </a>
    <a class="btn btn-outline-secondary" href="{% url 'todo_list' %}">Back
        to ToDo List
    </a>
</form>
{% endblock content %}